.lf-project-create-edit > .lf-wrapper > .main-content > .left > .main-title {
    font-size: calc(var(--font-size-base) + 32px);
    font-weight: 800;
    max-width: 415px;
    margin-bottom: 40px;
}

.lf-project-create-edit > .lf-wrapper > .main-content > .left > .lf-button {
    margin-top: 40px;
}

.lf-project-create-edit > .lf-wrapper > .main-content > .left {
    max-width: 368px;
    margin: auto;
}